<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <routeContext id="start-route-sensors" xmlns="http://camel.apache.org/schema/spring" >
        <route id="get-sensors-from-emulator">
            <from uri="direct:start" />
            
                <log message="Пробуем отправить тестовые файлы на ESOD"
                     loggingLevel="INFO"/>
               <to uri="activemq:queue:SensorAccumulatorQueue"/>
        </route>
    </routeContext>
</beans>