<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
        <servlet-name>sensorendpoint</servlet-name>
        <servlet-class>ru.tusur.udo.wildfly.ejbs.SensorEndpointController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sensorendpoint</servlet-name>
        <url-pattern>/sensorendpoint</url-pattern>
    </servlet-mapping>
    
</web-app>
